.contentProjects {
  padding: 0 10%;
}

.myCard {
  border: 1px solid #eeeeee;
  border-radius: 3px;
  width: 225px;
  height: 225px;
}

.iconeProj {
  width: 20px;
  height: 20px;
  padding: 0;
  margin: 3px;
  background-color: #fff;
  border-radius: 50%;
}

.cardFlip {
  float: left;
  margin: 10px;
}

@media only screen and (max-width: 600px) {
  .cardFlip {
    float: none;
    margin: 10px;
    display: flex;
    justify-content: center;
  }
}

.clear {
  clear: both;
}

.myCardFront {
  position: relative;
  cursor: pointer;
}

.posGit {
  position: absolute;
  bottom: 10px;
  right: 10px;
  text-align: center;
}

.iconGit {
  width: 25px;
  height: 25px;
}

.titleCardBack b {
  font-size: 10px;
  text-decoration: underline;
}

.titleCardBack p {
  font-size: 12px;
  margin-bottom: auto;
}

.myCardFront .cardTitle {
  position: absolute;
  bottom: 25px;
  padding: 10px;
  background-color: yellow;
  right: 5px;
  color: #000;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

.myCardFront .cardIcons {
  position: absolute;
  bottom: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
}

.myCardBack {
  padding: 5px;
  background-color: #d5d5d5;
}
