.contentStrengths {
  padding: 0 10%;
}

.clear {
  clear: both;
}

.icone:hover {
  width: 111px;
  height: 111px;
  padding: 6px;
  margin: 6px;
  cursor: pointer;
}

.icone {
  transition: all 500ms ease-in-out;
  width: 100px;
  height: 100px;
  padding: 10px;
  margin: 11px;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 0 15px 0 #d5d5d5;
}
