@import url("https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap");

* {
	font-family: "Roboto";
}

html {
	scroll-behavior: smooth;
}

.msgAlert,
.msgSuccess,
.msgInfo,
.msgWarning {
	border-left: 4px solid transparent;
	padding: 1rem;
	margin-bottom: 1rem;
	margin-top: 1rem;
}

.msgSuccess {
	background-color: rgba(212, 237, 218, 0.3);
	border-left-color: #c3e6cb;
	color: #155724;
}

.msgAlert {
	background-color: rgba(255, 100, 100, 0.3);
	border-left-color: #ff6464;
	color: #721c24;
}

.msgInfo {
	background-color: rgba(190, 230, 235, 0.3);
	border-left-color: #bee5eb;
	color: #0c5460;
}

.msgWarning {
	background-color: rgba(255, 229, 100, 0.3);
	border-left-color: #ffe564;
	color: #856404;
}

.coluna {
	flex: 1;
}

.linha {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}
