.contentContact {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

.contentContact form {
  margin-bottom: 20px;
}

.contentContact form button {
  float: right;
}

.btnSend {
  border-bottom: 2px solid rgb(0, 105, 217);
}
