.contentHeader {
	display: flex;
	flex-direction: column;
	background-image: url("../../images/fundo.jpeg");
	background-size: cover;
	background-repeat: no-repeat;
}

.linkedin,
.telephone {
	width: 50px;
	height: 50px;
	background-size: cover;
	background-repeat: no-repeat;
}

.linkedin {
	background-image: url("../../images/linkedin.png");
}

.telephone {
	margin-left: 11px;
	background-image: url("../../images/telefone.png");
}

.contentHeader .menuTop {
	display: flex;
	flex-direction: row;
	margin: 10px;
}

.contentHeader .menuBottom {
	display: none;
}

.contentHeader .titleTop {
	font-weight: bold;
	font-size: 20px;
	margin: 11px;
}

.contentHeader .titleTop a {
	color: #fff;
}

.contentHeader .foto {
	background-size: cover;
	background-repeat: no-repeat;
	background-image: url("../../images/eu.jpeg");
	width: 200px;
	height: 200px;
	margin: auto;
	margin-bottom: 10px;
	border-radius: 50%;
	border: 3px solid #ffff00;
	box-shadow: 0 0 15px 0 #000;
}

@media only screen and (max-width: 900px) {
	.linkedin,
	.telephone {
		width: 25px;
		height: 25px;
	}
	.contentHeader .titleTop {
		font-size: 15px;
		margin: 1px 0 0 5px;
	}
	.contentSide * {
		display: none;
	}
	.contentHeader .foto {
		width: 100px;
		height: 100px;
	}
	.contentHeader .menuBottom {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		flex: 50%;
	}
	.contentHeader .btn {
		flex: 1;
	}
}

@media only screen and (max-width: 600px) {
	.contentHeader .menuBottom {
		flex-direction: column;
		flex: 1;
	}
}

.contentHeader .contentSide {
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: space-around;
}

.contentHeader .leftSide,
.contentHeader .centerSide,
.contentHeader .rightSide {
	display: flex;
	flex: 1;
	padding: 10px;
	justify-content: center;
}

.contentHeader .centerSide {
	flex: 1;
}

.contentHeader .btn {
	color: #fff;
	text-transform: uppercase;
	margin: 10px;
	font-weight: bold;
	border-color: rgba(255, 255, 255, 0.1);
	background-color: rgba(255, 255, 255, 0.1);
	border-bottom: 2px solid #ffff00;
}

.contentHeader .btn:hover {
	background-color: rgba(255, 255, 0, 0.9);
	color: #222;
}
