.contentFooter {
	display: flex;
	flex-direction: row;
	background-color: #222;
	color: #fff;
	padding: 10px;
	justify-content: space-between;
}

.gotTop {
	position: fixed;
	bottom: 10px;
	right: 10px;
	width: 50px;
	height: 50px;
	display: flex;
	cursor: pointer;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 0 10px 0 #000;
}

.contentFooter .leftSide {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.contentFooter .leftSide h5 {
	margin-bottom: 0;
}

.contentFooter .rightSide {
	display: flex;
	flex-direction: column;
	font-weight: bold;
	font-size: 20px;
	margin: 10px;
	width: 250px;
}

.contentFooter .rightSide .textSm {
	font-size: 14px;
}

.contentFooter .rightSide .textSm a {
	color: #fff;
}
